@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-datepicker3";
@import "jquery-ui";

// styles for admin/events/index
.sortable .sortable_icon {
  border: none;
  color: #ECECEC;
  font-size: 20px;
  cursor: move;
  padding-right: 10px;
}

.sortable .sortable_icon:hover{
  color: #C9302C;
}

// styles for admin/event/registrations/index

.submenu {
  margin-bottom: 10px;
}
