@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

nav.navbar.navbar-default {
  a {
    color: #000;
  }
  a:hover {
    color: #fff;
  }
  background-image: image-url('/images/citygirl.jpg');
  // styles for navbar user logo
  #navbar > ul.nav.navbar-nav.navbar-right {
    li.dropdown.open > a {
      background-color: transparent;
      color: #fff;
    }

    li > a {
      img {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: -14px 0;
      }
    }
  //styles for dropdown-menu
    li > ul {
      top: 120%;
      background-image: image-url('/images/citygirl.jpg');
      li > a:hover {
        background-color: #000;
        // color: #000;
      }
      // background-size: cover;
      // background-repeat: no-repeat;
    }

    li > ul::before {
      content: "";
      border-bottom: 10px solid #3bae47;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: -10px;
      right: 16px;
      z-index: 1000;
    }
  }
}
