<footer class="text-center">
  <div class="links">
    <%= link_to "FAQ", faq_path %>
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </div>
</footer>
